.App {
  text-align: center;
}

.cover-photo {
  max-height: 500px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-style: italic;
  text-shadow: 2px 2px #ac7575;
}

